@import "./variables/global";
@import "./reset";

body,
.app {
  font: var(--font-m);
  font-weight: 600;
  color: var(--text-color-black);
}

.app {
  min-height: 100vh;
}

.app-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}