.ItemList {
    padding: 24px;
    margin-top: 32px;
    box-shadow: 0 2px 8px rgb(2 0 97 / 25%);
    border-radius: 10px;
}

.subtitle {
    font: var(--font-l);
    font-weight: 700;
}

.item {
    margin-top: 32px;
    list-style-type: none;

    > a {
        color: var(--text-color-black);
        text-decoration: none;
    }
}

.text {
    margin-top: 20px;
    font: var(--font-m);
    font-weight: 500;
}
