.Sidebar {
    padding: 25px 0 25px 32px;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    overflow-y: scroll;

    .title {
        font-weight: 700;
        margin-bottom: 32px;
    }
}