.AddressPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font: var(--font-l);
  font-weight: 700;
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 500;
  margin-bottom: 24px;
  font: var(--font-m);
}

