.MainPage {
    display: flex;
    flex-direction: column;
    font-weight: 500;

    .title {
        font: var(--font-l);
        font-weight: 700;
        margin-bottom: 16px;
    }

    .subtitle {
        font: var(--font-m);
        font-weight: 500;
        margin-bottom: 24px;
    }

    >p {
        width: 1050px;
        margin-bottom: 24px;
    }
}